.background-container {
  height: 100vh;
  background-color: antiquewhite;
  /* padding: 20 */
}

.background-image {
  background-image: url('./components/assets/elavator1.jpg');
  /* Specify the background image */
  background-size: cover;
  /* Cover the entire container */
  background-position: center;
  /* Center the background image */
  position: relative;
  /* Position relative for absolute positioning of text */
  width: 100%;
  /* Ensure the image covers the entire grid */
  height: 100%;
  /* Ensure the image covers the entire grid */
  filter: brightness(40%) blur(1px);
}

.banner {
  background-image: url('./components/assets/ela4.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 600px;
  padding: 0 10%;
  transition: 0.1s linear;
  /* filter: brightness(40%) blur(1px); */

}

.text-on-image {
  position: absolute;
  /* Position text relative to the container */
  /* top: 50%; */
  /* Position text vertically centered */
  /* left: 35%; */
  /* Position text horizontally centered */
  transform: translate(-50%, -50%);
  /* Center the text */
  color: white;
  /* Set text color */

  animation: fadeIn 6s ease forwards;
  filter: drop-shadow(10px 7px 10px white);
  /* opacity: 1 */
}

@keyframes fadeIn {
  from {
    /* transform: translateX(10%); */

    /* opacity: 0; */


  }

  to {
    /* transform: translateX(-100%); */

    /* opacity: 1; */



  }
}